@page
@model RazorWSV.Pages.Questions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.PublishedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Question.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
