@page
@model RazorWSV.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.PublishedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
